@import '/sharedStyles/fonts/title.scss';
@import '/sharedStyles/fonts/caption.scss';
@import '/sharedStyles/skeleton/skeleton.scss';

.movie-card {
  display: flex;
  color: $frontColor0;
  border-radius: $borderRadius;
  background-color: $backColor0;
  box-shadow: $boxShadow0;
  transition: box-shadow 0.1s, background 60ms ease-in 0s;

  &__aside {
    position: relative;

    @include respond-above(xs) {
      height: 14em;
      width: 10.5em;
      min-width: 10.5em;
      max-width: 10.5em;
    }

    @include respond-below(xs) {
      height: 12em;
      width: 9em;
      min-width: 9em;
      max-width: 9em;
    }
  }

  &__aside:empty {
    @extend .skeleton;
    border-radius: $borderRadius 0 0 $borderRadius;
  }

  &__cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: $borderRadius 0 0 $borderRadius;
  }

  &__tv-label {
    @extend .caption;
    position: absolute;
    top: $halfPaddingY;
    left: $halfPaddingY;
    padding: $halfPaddingY $halfPaddingX;
    background-color: $contrastColor1;
    color: $colorOnContrastColor10;
    border-radius: $borderRadius;
    cursor: default;
  }

  &__main {
    display: flex;
    flex-direction: column;
    padding: $paddingY $paddingX;
    flex: 1;
  }

  &__title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: $doublePaddingY;
  }

  &__title-name {
    @extend .title6;
    line-height: 1.25;

    @include respond-below(xs) {
      min-width: 50%;
    }

    @include respond-above(xs) {
      min-width: 200px;
    }
  }

  &__title-name:empty {
    @extend .skeleton;
  }

  &__title-year {
    @extend .caption;
    white-space: nowrap;
    padding-left: $paddingX;
    text-align: right;
    color: $frontColor1;

    @include respond-below(xs) {
      min-width: 15%;
    }

    @include respond-above(xs) {
      min-width: 50px;
    }
  }

  &__title-year:empty {
    @extend .skeleton;
  }

  &__chips {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: auto;
    box-sizing: border-box;
  }

  &__chip {
    @extend .caption;
    padding: $halfPaddingY $halfPaddingX;
    line-height: 1;
    border-radius: $borderRadius;
    background-color: $backColor1;
    color: $frontColor2;
    margin-right: $halfPaddingX;
    margin-bottom: $halfPaddingY;

    @include respond-below(xs) {
      min-width: 10%;
    }

    @include respond-above(xs) {
      min-width: 30px;
    }
  }

  &__chip:empty {
    @extend .skeleton;
  }
}
