.idea
node_modules/

package-lock.json

.env

/client/dist/
/client/.env
/client/package-lock.json

/server/.env
/server/package-lock.json
/server/src/services/moviesFiller/tmp
/server/src/services/assetsManager/tmp