@import '/sharedStyles/page/page_theme_classic.scss';
@import '/sharedStyles/app/app_theme_classic.scss';
@import '/sharedStyles/fonts/title.scss';
@import '/sharedStyles/fonts/body-font.scss';

.app__home {
  @extend .app_theme_classic;

  .app__navbar {
    transform: translateY(30vh);
  }

  .navbar__logo {
    transform: translateY(-2em) scale(1.2, 1.2);
  }
}

.page_home {
  @extend .page_theme_classic;

  .page__section {
    margin-top: auto;
  }

  .page__section-content {
    align-items: normal;
  }

  .page__text {
    @extend .body-font2;
    color: $frontColor1;
    text-align: center;
  }

  .page__link {
    color: inherit;
  }
}
