@import '/sharedStyles/page/page_theme_classic.scss';
@import '/sharedStyles/fonts/title.scss';
@import '/sharedStyles/fonts/subtitle.scss';

.page_404 {
  @extend .page_theme_classic;

  .page__section {
    margin: auto 0;
  }

  .page__section-content {
    align-items: normal;
  }

  .page__message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: $paddingY $paddingX;
    border: 1px solid $outlineColor;
    border-radius: $borderRadius;
  }

  .page__title {
    @extend .title1;
    margin-bottom: $paddingY;
  }

  .page__link {
    @extend .subtitle1;
    color: $frontColor0;
  }
}
