@import '/sharedStyles/fonts/subtitle.scss';

.app_theme_classic {
  .app__navbar {
    margin-bottom: 1em;
  }

  .app__transition-background {
    position: absolute;
    z-index: 1;
    top: 30vh;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $doublePaddingY $doublePaddingX;
    transform: translateX(-50%);
    background-color: $backColor0;
    box-shadow: $boxShadow0;
    border-radius: $borderRadius;
    animation: app-page-fade-in 0.5s;
  }

  .app__transition-loader {
    width: 100px;
    height: 100px;
  }

  .app__transition-text {
    @extend .subtitle1;
    padding: $doublePaddingY 0;
    white-space: nowrap;
  }

  .app__page {
    animation-iteration-count: 1;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }

  .app__page:nth-last-child(n + 3) {
    display: none;
  }

  .app__page[data-router-page-status='initial'] {
  }

  &[data-router-movement='forwards']
    .app__page[data-router-page-status='outdated'] {
    animation-name: app-page-leaving-left;
  }

  &[data-router-movement='forwards'] .app__page[data-router-page-status='new'] {
    animation-name: app-page-appearing-from-right;
  }

  &[data-router-movement='backwards']
    .app__page[data-router-page-status='outdated'] {
    animation-name: app-page-leaving-right;
  }

  &[data-router-movement='backwards']
    .app__page[data-router-page-status='new'] {
    animation-name: app-page-appearing-from-left;
  }

  @keyframes app-page-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes app-page-leaving-left {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      transform: translateX(-150%);
      opacity: 0;
    }
  }

  @keyframes app-page-leaving-right {
    from {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      transform: translateX(150%);
      opacity: 0;
    }
  }

  @keyframes app-page-appearing-from-right {
    from {
      opacity: 0;
      transform: translateX(150%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes app-page-appearing-from-left {
    from {
      opacity: 0;
      transform: translateX(-150%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
