// colors

$contrastColor0: #e60836;
$contrastColor1: #08a5e6;
$contrastColor2: #08e649;

$backColor0: rgb(255, 255, 255);
$backColor1: rgba(0, 0, 0, 0.05);
$backColor2: rgba(98, 0, 238, 0.05);

$skeletonColor0: #ececec;
$skeletonColor1: #d8d8d8;

$frontColor0: rgb(52, 65, 79);
$frontColor1: rgba(52, 65, 79, 0.5);
$frontColor2: rgba(52, 65, 79, 0.75);

$colorOnContrastColor10: #f4f4f4;

$successColor: #4caf50;
$attentionColor: darkorange;
$errorColor: #b00020;

$outlineColor: rgb(231, 231, 231);

// other

$borderRadius: 2px;

$halfPaddingX: 0.4em;
$halfPaddingY: 0.2em;
$paddingX: 0.8em;
$paddingY: 0.4em;
$doublePaddingX: 1.6em;
$doublePaddingY: 0.8em;

$boxShadow0: #e7e7e7 0 0 0 1px, #e7e7e7 0 2px 4px;
