@import '/sharedStyles/fonts/title.scss';

.similar-movies {
  width: 100%;

  &__item,
  &__error-box {
    margin-bottom: 1em;
  }

  &__error-box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $doublePaddingY $doublePaddingX;
    box-shadow: $boxShadow0;
    border-radius: $borderRadius;
  }

  &__error-title {
    @extend .title1;
    color: $errorColor;
  }
}
