@import '/sharedStyles/fonts/subtitle.scss';

.similarity-indicator {
  display: flex;
  align-items: baseline;
  cursor: default;

  &__label {
    @extend .subtitle2;
  }

  &__circle {
    display: block;
    order: -1;
    margin-right: $halfPaddingX;
    width: 1em;
    height: 1em;
    border-radius: $borderRadius;
    box-shadow: $outlineColor 0 0 0 1px;
  }
}
