@import '/sharedStyles/section/section.scss';

.navbar {
  @extend .section;
  position: sticky;
  top: 0.5em;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s;

  &__content {
    @extend .section__content;
  }

  &__logo {
    height: 5em;
    transition: transform 0.5s;
  }

  &__logo-image {
    height: 100%;
  }
}
